<app-navbar></app-navbar>
<div class="hero bg-base-200 min-h-screen">
    <div class="hero-content flex-col lg:flex-row">
        <img src="/assets/images/home/todolistLogo.png"
            class="max-w-sm rounded-lg shadow-2xl" width="50%" height="50%"/>
        <div>
            <h1 class="text-5xl font-bold">Aplicación Web para gestionar pendientes (ToDoList) – 2024</h1>
            <p class="py-6">
                Análisis, diseño, desarrollo de aplicación web con capacidad para registrar usuarios, asignar roles,
                autenticación y gestionar
                pendientes. Uso de tecnologías como Angular, Spring Boot, MySQL, Netlify y Azure para despliegue.
            </p>
            <a href="https://ilystodo.netlify.app" target="_blank">
                <button class="btn btn-accent">Visitar</button>
              </a>
        </div>
    </div>
</div>

<div class="flex justify-center bg-base-200">
    <div class="divider divider-primary w-[90%]"></div>
</div>
<div class="flex justify-center bg-base-200 pb-5">
    <h1 class="text-4xl font-bold ">Imagenes</h1>
</div>

<div class="flex justify-center bg-base-200">
    <div class="bg-base-200 p-4 rounded-lg">
        <div class="carousel carousel-vertical rounded-box h-96">
            <div class="carousel-item h-full">
              <img src="/assets/images/projects/todolist/Todo1.png" />
            </div>
            <div class="carousel-item h-full">
                <img src="/assets/images/projects/todolist/Todo2.png" />
            </div>
            <div class="carousel-item h-full">
                <img src="/assets/images/projects/todolist/Todo3.png" />
            </div>
          </div>
    </div>
</div>

<div class="flex justify-center bg-base-200">
    <div class="divider divider-primary w-[90%]"></div>
</div>
<div class="flex justify-center bg-base-200 pb-5">
    <h1 class="text-4xl font-bold ">Tecnologías</h1>
</div>

<div class="flex bg-base-200 w-full flex-col lg:flex-row justify-center pb-5">
    <div class="stats shadow">
        <div class="stat">
          <div class="stat-title">Frontend</div>
          <div class="stat-value">Angular - TypeScript</div>
        </div>
      </div>
    <div class="divider lg:divider-horizontal"></div>
    <div class="stats shadow">
        <div class="stat">
          <div class="stat-title">Backend</div>
          <div class="stat-value">Spring Boot - Azure App Service</div>
        </div>
      </div>
      <div class="divider lg:divider-horizontal"></div>
    <div class="stats shadow">
        <div class="stat">
          <div class="stat-title">DB</div>
          <div class="stat-value">MySQL - Azure DataBase for MySQL</div>
        </div>
      </div>
</div>
<app-footer></app-footer>