<app-navbar></app-navbar>
<div class="hero min-h-screen relative bg-base-200">
    <div class="hero-content relative z-10">
        <div class="max-w-full md:max-w-2xl px-4">
            <h1 class="mb-5 text-4xl md:text-6xl font-bold">Sobre mi</h1>
            <ul class="list-disc space-y-3 text-l md:text-base">
                <li>
                    Soy hábil en el análisis de procesos de negocio y la resolución
                    de problemas.
                </li>
                <li>
                    Destacando en el trabajo en equipo y adaptándome con facilidad a
                    nuevos entornos laborales
                </li>
                <li>
                    Mantengo una comunicación efectiva tanto con compañeros como con
                    líderes, siendo paciente y perseverante.
                </li>
                <li>
                    Siempre estoy dispuesto a aprender y a aportar en el desarrollo
                    de software.
                </li>
                <li>
                    Me apasiona mantenerme actualizado con las últimas tendencias y
                    tecnologías, y busco constantemente nuevas oportunidades para
                    mejorar mis habilidades.
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="flex justify-center bg-base-200">
    <div class="divider divider-primary w-[90%]"></div>
</div>
<div class="flex justify-center bg-base-200 pb-5">
    <h1 class="text-4xl font-bold ">Perfil Profesional</h1>
</div>

<div class="flex bg-base-200 w-full flex-col lg:flex-row justify-center items-center gap-4 pb-5">
    <div class="mockup-code w-50 lg:w-2/4 bg-accent text-primary-content">
        <pre class="whitespace-pre-wrap">
  <code>
  Desarrollador Java con año y medio de experiencia, en Frontend y Backend. 
  Uso de tecnologías como Java, Spring Boot, Angular, HTML, CSS, JavaScript. 
  Conocimiento y uso de metodología CMMI Dev y Scrum para el desarrollo y 
  mantenimiento de software.
  </code>
      </pre>
    </div>
</div>

<div class="flex justify-center bg-base-200">
    <div class="divider divider-primary w-[90%]"></div>
</div>
<div class="flex justify-center bg-base-200 pb-5">
    <h1 class="text-4xl font-bold ">Contacto</h1>
</div>

<div class="flex bg-base-200 w-full flex-col lg:flex-row justify-center pb-5">
    <div class="stats shadow">
        <div class="stat">
          <div class="stat-title">Ubicación</div>
          <div class="stat-value">Tlaxcala, México</div>
        </div>
      </div>
    <div class="divider lg:divider-horizontal"></div>
    <div class="stats shadow">
        <div class="stat">
          <div class="stat-title">Telefono</div>
          <div class="stat-value">+52 246 156 2955</div>
        </div>
      </div>
      <div class="divider lg:divider-horizontal"></div>
    <div class="stats shadow">
        <div class="stat">
          <div class="stat-title">Email</div>
          <div class="stat-value">luisyahir.armas&#64;gmail.com</div>
        </div>
      </div>
</div>

<app-footer></app-footer>